.bar_top {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: black;
	color: white;
}
.bar_top:not(.visible) {
	display: none;
}
#wrapper.game_started .bar_top {
	padding-right: 90px;
}
@media only screen and (max-width: 640px) {	
	.bar_top {
		height: 50px;
	}
	#wrapper.game_started .bar_top {
		padding-right: 50px;
	}
}

.bar_top__title {
	font-size: 40px;
	font-weight: 700;
	flex: 1;
	text-align: center;
}
@media only screen and (max-width: 640px) {	
	.bar_top__title {
		font-size: 20px;
		padding: 0 15px;
	}
}
@media only screen and (max-width: 350px) {
	.bar_top__title {
		font-size: 16px;
	}
}
.bar_top__logout,
.bar_top__leaderboard,
.bar_top__back,
.bar_top__menu {
	background: transparent;
	border: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
}
#wrapper.game_started .bar_top__logout,
.bar_top__logout.hidden,
#wrapper.game_started .bar_top__leaderboard,
#wrapper:not(.game_started) .bar_top__back,
.bar_top__menu:not(.visible) {
	display: none;
}
@media only screen and (max-width: 640px) {
	.bar_top__logout,
	.bar_top__leaderboard,
	.bar_top__back,
	.bar_top__menu {
		width: 50px;
	    height: 50px;
	}
}

@media only screen and (min-width: 641px) {	
	.bar_top__logout:hover,
	.bar_top__back:hover {
		background: red;
	}
	.bar_top__leaderboard:hover,
	.bar_top__menu:hover {
		background: green;
	}
}
.bar_top__leaderboard.active {
	background: green;
}

.bar_top__icon {
	width: 50px;
	height: auto;
}
@media only screen and (max-width: 640px) {
	.bar_top__icon {
		width: 30px;
	}
}
