.bar_countdown {
	height: 16px;
	background: #EAE8E8;
	border-radius: 5px;
	overflow: hidden;
	flex: 1;
	
	&__wrapper {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	
	&__inner {
		height: 16px;
		background: black;
		border-radius: 5px;
		width: 100%;
	}
}

.game_top_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	color: white;
	background: black;
	border-radius: var(--radius);
	
	&__tracks {
		font-size: 16px;
		font-weight: 700;
		padding: 0 15px;
	}
}
