.content_box {
    background: var(--colorWhite);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__label {
        font-size: 16px;
        font-weight: 600;

    }
}