:root {
    --colorWhite: #FFFFFF;
    --colorMidnight: #010101;
    --colorDeepIndigo: #140655;
    --colorRoyalPurple: #4321A9;
    --colorDarkViolet: #2A0A56;
    --colorAmethyst: #642AA5;
    --colorMagenta: #B53DA1;
    --colorHotPink: #ED6AB8;
    --ColorRose: #FEA6CC;
    --colorSalmon: #FEA7A0;
    --colorPeach: #FFD4B9;
}